.admin-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 0 6px 26px 6px;
}

.label {
    color: white;
    font-weight: medium;
    margin-top: 8px;
    margin-bottom: 14px;
}

.right {
    margin-right: 14px;
}

.admin-container form section {
    display: flex;
    margin: 14px 0;
    gap: 22px;
}

.admin-container form button {
    margin-bottom: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-container form button > svg {
    margin-left: 8px;
}

.preview {
    margin-bottom: 28px;
    padding: 4px;
    border: 1.5px solid rgba(255, 255, 255, .5);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}