.header-main {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #464D73;
}

.header-main > nav {
    display: flex;
    gap: 2em;
    font-size: 1.5em;
}

.header-main > nav > a {
    color: #fff;
    padding: 8px 14px;
    border-radius: 4px;
    font-weight: bold;
   
    transition: .5s;
}

.header-main > nav > a:hover {
    background-color: #1C2659;
    border: 1px solid #fff;
}

#logo-header {
    margin: 0;
    padding: 0;
    font-size: 3em;
}