/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: linear-gradient(#232630, #050507);
    min-height: 100vh;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

/* Responsitivy */
@media screen and (max-width: 835px) {
    .admin-container .socialLinks-area {
        margin-top: 65px;
        margin-left: 24px;
    }
    
}

@media screen and (max-width: 650px) {
    .config-container {
        flex-direction: column;
        gap: 0;
    }
}